<div class="flex">
  <div class="patrocinadores">
    <div class="logo">
      <a href="https://brunet.bio" target="_blank">
        <img
          src="../../../assets/logos/Brunet-(Transparent).webp"
          alt="Brunet"
        />
      </a>
    </div>
    <div class="logo">
      <a href="https://mediterraneoinnova.com" target="_blank">
        <img
          src="../../../assets/logos/MediterraneaInnova-(Trasparent).webp"
          alt="Mediterránea Innova"
        />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.instagram.com/samerain.es/" target="_blank">
        <img src="../../../assets/logos/Samerain-logo.webp" alt="Samerain" />
      </a>
    </div>
    <div class="logo">
      <img src="../../../assets/logos/Casino-(Transparent).webp" alt="Casino" />
    </div>
    <div class="logo">
      <img
        src="../../../assets/logos/Bar Sport-(Transparent).webp"
        alt="Bar Sport"
      />
    </div>
    <div class="logo">
      <img
        src="../../../assets/logos/Caspe Repair-(Transparent).webp"
        alt="Caspe Repair"
      />
    </div>
    <div class="logo">
      <img
        src="../../../assets/logos/Excavaciones Ballesteros-(Transparent).webp"
        alt="Excavaciones Ballesteros"
      />
    </div>
    <div class="logo">
      <a href="https://www.instagram.com/krispinight/" target="_blank">
        <img src="../../../assets/logos/KrispiNight.webp" alt="KrispiNight" />
      </a>
    </div>
    <div class="logo">
      <a
        href="https://www.facebook.com/espectacles.juanos/?locale=es_ES"
        target="_blank"
      >
        <img
          src="../../../assets/logos/JuanosEspectacles-(Transparent).webp"
          alt="Juanos Espectacles"
        />
      </a>
    </div>
    <div class="logo">
      <img
        src="../../../assets/logos/Bar Tropical 2-(Transparent).webp"
        alt="Bar Tropical"
      />
    </div>
    <div class="logo">
      <a href="https://www.frutastaberner.com/" target="_blank">
        <img
          src="../../../../assets/logos/Taberner.jpg"
          alt="Frutas Taberner"
        />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.biofarmaciaonline.es/" target="_blank">
        <img
          src="../../../../assets/logos/BioFarmacia.jpeg"
          alt="Biofarmacia On-line"
        />
      </a>
  </div>
</div>
